
.centered {
    text-align: center;

}
.a{
    text-align: justify
}
.myBanner{
    background-image: url(img/acme.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    
}